---
import photo from "../images/avatar-nobg.png"
import PageHeader from "../components/page-header.astro"
import Layout from "~/layouts/layout.astro"
import { Image } from "astro:assets"
import PageIntro from "~/components/page-intro.astro"

const metas = {
  title: "About::Atila",
}

export const prerender = true
---

<Layout metas={metas}>
  <header class="w-11/12 mx-auto max-w-7xl">
    <PageHeader>About: Atila</PageHeader>
  </header>
  <div class="w-11/12 mx-auto max-w-7xl dark:text-neutral-300 text-neutral-800">
    <article class="text-xl leading-8 max-w-prose">
      <p class="mb-8">
        I'm a self-taught developer pushing code since 2011, I have worked in
        teams of every size and across 3 different continents. I'm a <a
          href="https://g.dev/atilaf"
          target="_blank"
          rel="noopener noreferrer"
          title="Atila's profile page on Google Developer Expert Network"
          class="text-neutral-500 dark:text-white underline decoration-dotted hover:underline-offset-2"
          >GDE for Web Technologies</a
        >, a <a
          class="text-neutral-500 dark:text-white underline decoration-dotted hover:underline-offset-2"
          href="https://solidjs.com"
          target="_blank"
          rel="nooopener">SolidJS</a
        > DX team member, and a <a
          class="text-neutral-500 dark:text-white underline decoration-dotted hover:underline-offset-2"
          href="https://tauri.app"
          target="_blank"
          rel="nooopener">Tauri</a
        > Working Group participant.
      </p>

      <p class="mb-8">
        Content creation is a driving force and my favourite learning strategy.
        I write articles on{" "}
        <a
          href="https://smashingmagazine.com/author/atila-fassina/"
          target="_blank"
          rel="noopener noreferrer"
          title="Atila's author page on Smashing Magazine"
          class="text-neutral-500 dark:text-white underline decoration-dotted hover:underline-offset-2"
        >
          Smashing Magazine
        </a>
        , speak at meetups and conferences both online and offline, and record a
        code-related videos. I am particularly interested in Serverless, Developer
        Tooling, and the React ecosystem.
      </p>
      <p class="mb-8">
        The fastest way to find me is via{" "}
        <a
          href="https://twitter.com/atilafassina/"
          target="_blank"
          rel="noopener noreferrer"
          title="Atila's twitter profile"
          class="text-neutral-500 dark:text-white underline decoration-dotted hover:underline-offset-2"
        >
          X (aka twitter)
        </a>{" "}
        direct or public message.
      </p>
    </article>
  </div>
</Layout>
