---
import PageHeader from "~/components/page-header.astro"
import PageIntro from "~/components/page-intro.astro"
import VideoCard from "~/components/card-video.astro"
import Layout from "~/layouts/layout.astro"
type VideoProps = {
  id: {
    videoId: string
  }
  snippet: {
    title: string
    publishedAt: string
    description: string
    thumbnails: {
      high: { url: string; width: number; height: number }
    }
  }
}

async function getVideos(): Promise<VideoProps[]> {
  const ENDPOINT = `https://www.googleapis.com/youtube/v3/search?part=snippet&channelId=${
    import.meta.env.YOUTUBE_CHANNEL_ID
  }&key=${
    import.meta.env.YOUTUBE_API_TOKEN
  }&type=video&order=date&maxResults=21`
  const data = await fetch(ENDPOINT).then((r) => r.json())

  if (Array.isArray(data.items) && data.items.length > 1) {
    const videos = data.items?.map((item: any) => ({
      id: {
        videoId: item.id,
      },
      snippet: {
        title: item.snippet?.title,
        publishedAt: item.snippet?.publishedAt,
        description: item.snippet?.description,
        thumbnails: item.snippet!.thumbnails!,
      },
    }))

    return videos as VideoProps[]
  } else {
    return []
  }
}

const videoList = await getVideos()
const metas = {
  title: "Channel :: Atila",
}
---

<Layout metas={metas}>
  <header class="w-11/12 mx-auto max-w-7xl">
    <PageHeader>Featured Videos</PageHeader>
    <PageIntro>
      I enjoy creating content, and I use teaching as a medium for me to learn
      new concepts. So I put effort in creating them for different medias, some
      content just works better in video. Check the channel and subsbribe for
      more on{" "}
      <a
        href="https://youtube.com/atilaio"
        target="_blank"
        rel="noopener noreferrer"
        title="To AtilaIO Youtube Channel"
        class="dark:text-red-400 text-red-700 hover:underline hover:decoration-dotted hover:underline-offset-2"
      >
        Youtube
      </a>
      .
    </PageIntro>
  </header>
  <ul
    class="grid max-w-[90rem] mx-auto sm:grid-cols-2 gap-16 mt-32 lg:grid-cols-3 px-5"
  >
    {videoList.map((videoProps) => <VideoCard {...videoProps} />)}
  </ul>
</Layout>
