---
import PageHeader from "~/components/page-header.astro"
import PageIntro from "~/components/page-intro.astro"
import Layout from "~/layouts/layout.astro"
import { getVideos } from "~/lib/video-getter"
import { VideoHighlights } from "~/components/video-highlights"

const videoList = await getVideos(21)
const metas = {
  title: "Channel :: Atila",
}
---

<Layout metas={metas}>
  <header class="w-11/12 mx-auto max-w-7xl">
    <PageHeader>Featured Videos</PageHeader>
    <PageIntro>
      I enjoy creating content, and I use teaching as a medium for me to learn
      new concepts. So I put effort in creating them for different medias, some
      content just works better in video. Check the channel and subsbribe for
      more on{" "}
      <a
        href="https://youtube.com/atilaio"
        target="_blank"
        rel="noopener noreferrer"
        title="To AtilaIO Youtube Channel"
        class="dark:text-red-400 text-red-700 hover:underline hover:decoration-dotted hover:underline-offset-2"
      >
        Youtube
      </a>
      .
    </PageIntro>
  </header>
  <section class="px-6">
    <VideoHighlights videos={videoList} maxCols={3} />
  </section>
</Layout>
