---
import Layout from "../layouts/layout.astro"
import AtilaCard from "../components/atila-card.astro"
import "../global.css"
import { Projects } from "~/components/projects"
import { VideoHighlights } from "~/components/video-highlights"
import { getRepositories, getRepository } from "~/lib/github"
import { getVideos } from "~/lib/video-getter"
import { SectionHeader } from "~/components/section-header"

const solidFetcher = (repo: string) => getRepository(repo, "solidjs")
const defaultFetcher = (repo: string) => getRepository(repo, "atilafassina")

const repositories = (
  await Promise.all([
    getRepositories(["quantum", "shieldwall", "pulsar"], defaultFetcher),
    getRepositories(["solid", "solid-start", "solid-docs"], solidFetcher),
  ])
).flat()

const videoList = await getVideos(3)

export const prerender = true
---

<Layout>
  <AtilaCard />
  <section class="max-w-4xl w-full px-5 overflow-hidden pb-36">
    <SectionHeader
      title="Latest Videos"
      subtitle="Creating short technical videos on Youtube has been an important outlet for my creativity. I have learnt tenfold what I have taught, here are my latest pieces."
    />
    <VideoHighlights videos={videoList} />
  </section>
  <Projects repositories={repositories} />
</Layout>
