---
import avatar from "../images/atila-2023.webp"
import AtilaFassina from "./icons/atila-fassina.astro"
---

<header
  class="grid grid-rows-2 mt-16 px-5 lg:grid-cols-2 sm:my-0 lg:gap-x-14 lg:items-end lg:grid-rows-1 place-items-center lg:relative lg:-right-14"
>
  <div
    class="flex flex-col h-full text-center gap-y-3 lg:text-left animate-blur-in"
  >
    <h1
      class="dark:hover:bg-neutral-200 hover:bg-neutral-800 -ml-3 pt-3 px-3 rounded-sm dark:text-white text-zinc-800 dark:hover:text-black hover:text-white hover:transform hover:-rotate-6 transition-all"
    >
      <AtilaFassina class="sm:w-[411px] pb-4" />
      <span class="sr-only">Atila Fassina</span>
    </h1>
    <h2
      class="z-10 text-2xl sm:text-3xl dark:text-slate-50 text-slate-800 hover:transform hover:translate-x-2 transition-all"
    >
      DevRel <span class="opacity-40" aria-hidden>|</span> Tech Lead <span
        class="opacity-40"
        aria-hidden>|</span
      > Educator
    </h2>
  </div>
  <div
    class="block w-44 h-44 bg-white border-2 border-white rounded-full overflow-visible"
  >
    <img
      class="rounded-full grayscale-[50] scale-105 hover:scale-125 hover:grayscale-0 transition-all ease-in-out"
      src={avatar}
      alt="Atila's face"
    />
  </div>
</header>
