---
import { Image } from "astro:assets"
import avatar from "../images/atila-2023.webp"
import AtilaFassina from "./icons/atila-fassina.astro"
---

<header
  class="max-w-5xl w-full grid grid-rows-2 place-items-center gap-y-5 pt-32 pb-48 px-5 lg:grid-cols-2 sm:my-0 lg:gap-x-14 lg:items-end lg:grid-rows-1 lg:relative lg:-right-14"
>
  <div class="flex flex-col text-center gap-y-3 lg:text-left animate-blur-in">
    <h1 class="dark:text-white text-zinc-800">
      <AtilaFassina class="sm:w-[411px] pb-4 transition-all" />
      <span class="sr-only">Atila Fassina</span>
    </h1>
    <h2 class="z-10 text-md sm:text-lg dark:text-neutral-400 text-neutral-800">
      Manager
      <span class="opacity-40" aria-hidden>|</span> Keynote Speaker
      <span class="opacity-40" aria-hidden>|</span> Developer
    </h2>
    <ul class="flex gap-4 justify-center lg:justify-start">
      <li class="grayscale hover:grayscale-0 transition-all">
        <img class="w-7" src="/solidjs.svg" />
      </li>
      <li class="grayscale hover:grayscale-0 transition-all">
        <img class="w-7" src="/gde.svg" />
      </li>
    </ul>
  </div>
  <div
    class="block w-44 h-44 bg-white border-2 border-white rounded-full overflow-visible"
  >
    <Image
      class="rounded-full grayscale-[50] scale-105 hover:scale-125 hover:grayscale-0 hover:cursor-none transition-all ease-in-out"
      src={avatar}
      alt="Atila's face"
    />
  </div>
</header>
